.accordion
  %div
    %h3= link_to "Subscribers"
    .clearfix
      %p{:style => "float:right;margin-right:10px;"}
        = link_to "Add New", new_subscriber_path, :class => "ui-widget-header ui-corner-all", :style => "padding : 5px;color:#fff;text-decoration:none;"
      %table
        %tr
          %th Name
          %th Email
          %th &nbsp;
        = render :partial => "subscriber", :collection => @subscribers
      